*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
GuichetEtudiant/src/main/java/lu/uni/avatov/guichetetudiant/Credentials.java
watch/src/main/java/lu/uni/timetable/watch/Credentials.java
watch/src/main/java/lu/uni/timetable/watch/Credentials.java
